# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
surahs_versus
surahs_words
.codegpt

Page_structure
Page_structure_new
quran_page_ayah_json
quran_page_ayah_txt
quran_page_ayah_txt_new
quran_pages
quran_pages_json
quran_pages_new
updated_quran_pages
